/* BANNER */

.banner {
  width: 100%;
  text-align: center;
  background-size: cover !important;
  background-position-y: -30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: image-url('banner.jpg');
  height: 100vh;
}

@media screen and (max-width:950px) {

  .banner {
  background-position-y:  0px;
  }

}


.banner-content {
  color: rgb(250, 250, 250);
}

.main-title {
  position:relative;
  bottom: 40px;
  font-size:5em;
  font-family: "Raleway";
  font-weight: lighter;
  color: white;
  font-size: lighter;
  margin-bottom: 0;
}
.tagline {
  position:relative;
  bottom: 30px;
  margin-bottom:30px;
  text-align:center;
  font-weight:lighter;
  font-size: 1.5em;
  font-family: "Raleway";
}



.pray-btn {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 0;
}
.pray-btn:hover {
  background-color: white;
  color: black;
  opacity: 1;
}
.banner-content .btn-medium {
  margin: 0;
}
.banner-content .btn-medium, .banner-content .pray-btn {
  margin: 20px;
  margin-top: 0;
  width: 210px;
}

/* ICONS */

.icons-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;

}

.titlestephome {
  margin: 6px !important;
  margin-bottom: 15px !important;
  }

.row.howitworks {
  width: 100%;
}

.titlestep {
  text-align: center;
  margin-right: 40px !important;
  margin-bottom: 20px !important;
}

.text-step{
  text-align:justify;
  margin-top: 5px;
  margin-bottom: 15px;

}

.card-icon {
  width: 75px;
  margin-bottom: 20px;
}

.card-icon-search {
  width: 65px;
  margin-bottom: 30px;
  position: relative;
  top:10px;

}

.card-icon-space {
  width: 65px;
  margin-bottom: 30px;
  position: relative;
  top:10px;
}


.icons-container h3 {
  font-size: 20px;
  margin: 0;
}
.icons-container p {
  font-size: 14px;
  width: 80%;
  margin: auto;
}

/* CARDS */
.cards-wrapper {
  margin-top: 70px;
  background-color: rgb(250, 250, 250);
  padding: 50px 0 50px 0;
}
.cards-wrapper h2 {
  text-align: center;
  font-size: 23px;
  font-weight: lighter;
}
.cards-container {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.card-content {
  width: 300px;
  height: 150px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  background: url('voir.webp');
  background-size: cover;
  overflow: hidden;
  margin: auto;
}
.box1 {
  background: rgba(0,0,0,.75);
  text-align: center;
  padding: 62px 0 66px 0;
  opacity: 0;
  transition: opacity .30s ease;
}

.card-content:hover .box1 {
  opacity: 1;
}
.card-text {
  color: white;
  font-weight: lighter;
  margin: 15px;
}
.container {
  margin-top: 70px;
}

.stepping {
  margin-bottom: 30px;
  min-height: 233px;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius:15px;
  border: 1px solid  #E6E6E6;
  background-color:white;
  transition: all .4s ease-in-out; 
  margin-top:35px;
}

.stepping:hover {
  transform: scale(1.1); 
}





/* NAVBAR */
