/* BANNER */

.banner {
  width: 100%;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-image: url('banner.jpg');
  height: 100vh;
}
.banner-content {
  margin: auto;
  margin-top: 25%;
  color: rgb(250, 250, 250);
}

/* CARDS */

.cards-wrapper {
  margin-top: 90px;
}
.cards-description h2 {
  text-align: center;
}
.cards-description p {
  text-align: center;
  margin-top: 8px;
}
.cards-container {
  margin-top: 30px;
}
.card-row {
  margin-top: 20px;
  text-align: justify;
}
.card-row h3 {
  margin: 0;
  font-size: 22px;
}
.card-row p {
  margin: 0;
  font-size: 15px;
}
.image-card {
  width: 250px;
}
.card-content {
  padding-top: 10px;
  width: 80vh;
  margin-left: 20px;
}
