.prayers-index {
  width: 60%;
  margin: auto;
  font-family: 'Lora', serif;
  margin-top: 50px;
  margin-bottom: 20px;
}
.prayers-index h3 {
  text-align: center;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 35px;
  margin: 0;
  margin-bottom: 20px;
}
.prayers-index hr {
  margin: 0;
}
.audio-prayer {
  margin: 0;
}
.prayer-container {
  margin-top: 20px;
}
.prayer-profile_picture {
  height: 50px;
  text-align: center;
}
.user-list {
  text-align: center;
}
.prayer-title h4 {
  text-align: left;
  font-family: 'Lora', serif;
  font-style: italic;
}
.prayer-description {
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 20px;
}
.prayer-btn {
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
}
.fa-pencil, .fa-trash, .pain-button {
  color: rgb(150, 150, 150);
}
.fa-pencil:hover, .fa-trash:hover, .pain-button:hover {
  color: rgb(50, 50, 50);
}
.prayer-col {
  margin-bottom: 25px;
}
.user-col {
  padding: 0;
  text-align: center;
}
