.title-category {
  margin-top: 70px;
  margin-bottom: 30px;
}

.cards-wrapper-category {
  padding: 50px 0 50px 0;
}

.cards-container {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.card-content-category {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;

}

.box{
  background: rgba(0,0,0,.75);
  text-align: center;
  padding: 62px 0 66px 0;
  opacity: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.card-content-category:hover .box {
  opacity: 1;
}

.card-text {
  color: white;
  font-weight: lighter;
}
a.card-content-category .card-text:hover {
  outline: none;
}
.container {
  margin-top: 70px;
}

a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}

/* QUOTE */
.pain-index-quote {
  margin-bottom: 50px;
}
.pain-index-quote p {
  color: rgb(110, 110, 110);
  margin-bottom: 0;
}
.pain-index-quote h4 {
  color: rgb(150, 150, 150);
}
.pain-index-quote .right-quote {
  text-align: right;
  margin-right: 20%;
  opacity: 0.7;
  color: #B4D8C0;
  font-size: 3em;
}
.pain-index-quote .left-quote {
  text-align: left;
  margin-left: 20%;
  opacity: 0.5;
  color: #B4D8C0;
  font-size: 3em;
}
