.title-category {
	margin-top: 100px;
	margin-bottom: 50px;
}

.cards-wrapper-category {
  background-color: rgb(250, 250, 250);
  padding: 50px 0 50px 0;
}

.cards-container {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.card-content-category-religion {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
  margin-left: 100px;

}

.card-content-category-family {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
    margin-bottom: 50px;

}

.card-content-category-couple {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
    margin-bottom: 50px;
}

.card-content-category-health {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
    margin-bottom: 50px;


}

.card-content-category-news {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
    margin-bottom: 50px;


}

.card-content-category-work {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url-image('royalfamily.jpg');
  background-size: cover;
  overflow: hidden;
  margin: auto;
    margin-bottom: 50px;


}

.box{
  background: rgba(0,0,0,.75);
  text-align: center;
  padding: 62px 0 66px 0;
  opacity: 0;
   width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-category-religion:hover .box {
  opacity: 1;
}

.card-content-category-family:hover .box {
  opacity: 1;
}

.card-content-category-couple:hover .box {
  opacity: 1;
}

.card-content-category-health:hover .box {
  opacity: 1;
}

.card-content-category-family:hover .box {
  opacity: 1;
}

.card-content-category-work:hover .box {
  opacity: 1;
}

.card-content-category-news:hover .box {
  opacity: 1;
}

.card-text {
  color: white;
  font-weight: lighter;

}
.container {
  margin-top: 70px;
}
