.pain-edit-container {
  max-width: 600px;
  box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
  background-color: white;
  opacity: 0.3;
  &.first {
    margin-top: 100px;
  }
  &.active {
    opacity: 1;
  }
  margin-top: 20px;
}

.pain-edit-container .form-control.string.required, .pain-edit-container .form-control.text.required {
  background-color: rgba(238, 238, 238, 0.78);
  border: none;
  border-radius: 4px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.pain-edit-container h4 {
  color: black;
}

.pain-container-index {
  margin: 0 auto;
  width: 970px;
  background-color: white;
}

.skill-category {
  padding: 10px;
}

.red-border {
  border: solid 10px red;
}

.category-image {
  width: 110px !important;
  height: 110px !important;
  border-radius:50%;
  background-size: cover;
  font-size: 10px;
  color: white;
  position: relative;

}

.category-text {

	font-size:1.5em;
}

.category-image {
  display:flex;
  justify-content: center;
  align-items: center;
}

.form-description {
	margin-top: 50px;
}

.control-label.text.required {
	top: 100px;
	right: 450px;
}

#pain_description {

	margin-top: 30px;
}

#pain_title {
  margin-bottom: 50px;
  height: 60px;
  font-size: 17px;
}

.form-group.string.required.pain_title {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form-group.radio_buttons.required.pain_category.has-error {
  display: flex;
  justify-content: center;
}

.choice-category {
  margin-top: 20px;
  margin-bottom: 30px;
}


.radio_buttons.required {
  display:none;
}


.radio .category-image {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.form-group.radio_buttons.required.pain_category {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}


.pain_category_famille {
  position:relative;
  top:100px;
}

.clicked{
   background-image: linear-gradient(-225deg, rgba(0,924,168,0.6) 0%, rgba(0,36,61,0.6) 50%) !important;
}
.btn-medium {
  background-color: white;
  margin-bottom: 10px;
}
.new-pain-btn {
  text-align: center;
}
.description-text {
  width: 90%;
  margin: auto;
}


.radio input[type="radio"]:checked  + .category-image {
  border: 3px solid #B4D8C0;
  opacity: 1;
}


.step {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 30px;
  div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $blessme-red;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    span {
      margin-top: -6px;
    }
  }
}
.new-pain-btn {
  margin-top: 50px;
  .btn {
    width: 250px;
    padding: 20px;
  }
}

.next-step {
  background-color: $blessme-red;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  cursor: pointer;
}



















