/* CARD TEXT */
.div-pain {
  font-family: 'Lora', serif;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-top: 20px;
}
.pain-description {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
  border-top: 1px solid rgb(230, 230, 230);
}
.pain-description .fa {
  font-size: 60px;
  margin-left: 7px;
  color: #B4D8C0;
}
.pain-description .pain-text {
  color: rgb(150, 150, 150);
  text-align: center;
}
.pain-description .right-quote {
  text-align: right;
  margin-right: 20%;
  opacity: 0.7;
}
.pain-description .left-quote {
  margin-left: 20%;
  opacity: 0.7;
}
.profile_picture{
 width:90px;
 height:90px;
 background:rgba(255,255,255,1);
 top:65px;
 left:40px;
 border-radius:100%;
 background-size:100% 100%;
 padding:7px;
 border:4px solid rgba(255,255,255,1)
}
.title-pain {
  margin-top: 80px;
  padding: auto;
  display: flex;
  justify-content: space-around;
}
.div-pain .title-pain h2 {
  font-family: 'Lora', serif;
  font-size:45px;
  font-style: italic;
  color: #A7B3A5;
  text-align: center;
  position: relative;
}
.flame {
  text-align: right;
  margin-top: 0;
  right: 0;
}

/* USER */

.user-infos {
  display: flex;
  position: relative;
  margin-top: 50px;
}
.user-infos .user-description {
  text-align: center;
  padding-top: 10px;
}
.user-infos .user-description p {
  margin: 0;
  vertical-align: middle;
  padding: auto;
  font-size: 13px;
  font-weight: lighter;
  color: rgb(170, 170, 170);
}

/* BUTTONS */

.buttons-container {
  position: absolute;
  right: 0;
  padding-top: 10px;
}
.buttons-container p {
  margin: 0;
}
.pray-link-write {
  width: 200px;
  margin-bottom:10px;
  cursor: pointer;
}
.pray-link-record {
  width: 200px;
  margin-bottom:10px;
  cursor: pointer;
}
.pray-link-thought {
  width: 200px;
  margin-bottom:10px;
  cursor: pointer;
}
.pain-button {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10%;
}

/* FIRE */

.flame {
  margin-right: 9px;
  font-size: 2em;
}

.fire {
  margin-top:30px;
  margin-left: 15px;
}

/* FORMS */

.form-summary {
  display:flex;
  justify-content:center;
  margin-left: 150px;
}
.submit-prayer {
  text-align: center;
  margin-bottom: 15px;
}
.form-group.string.required.prayer_title {
  margin-left: auto;
  margin-right: auto;
}

.form-for-audio-pray {
  width:550px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: #E8EDF3;
  box-shadow: 1px 1px 1px 1px #c8c8c8;
}

#container-audio {
  display: flex;
  justify-content: center;

}

.audio-prayer {
  margin-top: 50px;
}

#startRecordingButton {
  background-color: white;
  padding: 2px 10px 2px 10px;
  width: 60px;
}

#stopRecordingButton {
  background-color: white;
  padding: 2px 10px 2px 10px;
  width: 60px;
}

#playButton {
  background-color: white;
  padding: 2px 10px 2px 10px;
  width: 60px;
}

.control-audio {
  width:300px;
  max-height: 50px;
  position: relative;
  top: 25px;
   margin-left: 10px;
}

.audio-notification {
  max-width: 220px;
  text-align:center;
}

#audio-submit-button {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;

}

#audio-submit-button:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
}

#candle {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  //background: #402D35;
  background: #B4D8C0;
}

#candle h1 {
  color: #B56969;
  font-family: "Playfair Display", cursive;
  font-size: 3em;
  display: inline-block;
  position: absolute;
  margin-top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
}

#candle h2 {
  color: #B56969;
  font-family: "Playfair Display", cursive;
  font-size: 1.5em;
  font-style: oblique;
  display: inline-block;
  position: absolute;
  margin-top: 120px;
  left: 0;
  width: 100%;
  text-align: center;
}

.candle-container {
  width: 160px;
  height: 163px;
  margin-top: -180px;
  position: relative;
  background: #B4D8C0;
}

.candle {
  width: 80px;
  height: 140px;
  background: #A65A51;
  border-radius: 8px;
  position: relative;
  margin: auto;
  z-index: 3;
}
.candle .top {
  width: 80px;
  height: 18px;
  background: #b97871;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.candle .top .top_inner {
  width: 80px;
  height: 16px;
  background: #c28882;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}
.candle .bottom {
  width: 80px;
  height: 18px;
  background: #A65A51;
  border-radius: 100%;
  position: absolute;
  bottom: -4px;
}
.candle .wax-drip {
  width: 9px;
  height: 12px;
  background: #c7928c;
  position: absolute;
  top: 10px;
  left: 8px;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
}
.candle .wax-drip .falling-wax {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #c7928c;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  top: 8px;
  left: 1px;
  -webkit-transform: rotateZ(-45deg) translateY(0);
          transform: rotateZ(-45deg) translateY(0);
  -webkit-animation: waxDrop 11s linear infinite;
          animation: waxDrop 11s linear infinite;
}
.candle .wax-droppings {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #c7928c;
  bottom: -5px;
  border-radius: 80% 20% 55% 50%/55% 20% 80% 50%;
  left: 4px;
}
.candle .wax-droppings .more-droppings {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #c7928c;
  bottom: -2px;
  border-radius: 80% 30% 55% 50%/55% 30% 80% 50%;
  left: 6px;
}

.wick {
  width: 4px;
  height: 15px;
  background: #111;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: -8px;
  margin-left: -2px;
}

.flame {
  width: 18px;
  height: 18px;
  background: #FFD678;
  position: absolute;
  z-index: 6;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  left: 50%;
  top: -20px;
  margin-left: -9px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-animation: flameFlicker 0.9s ease infinite;
          animation: flameFlicker 0.9s ease infinite;
}
.flame .inner-flame {
  width: 10px;
  height: 10px;
  background: #D1835C;
  position: absolute;
  z-index: 8;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  left: 50%;
  margin-left: -7px;
  bottom: 2px;
  opacity: 0.4;
}

.outer-glow {
  width: 200px;
  height: 200px;
  background: #6E4247;
  position: absolute;
  border-radius: 100%;
  left: -20px;
  top: -120px;
  opacity: 0.2;
  -webkit-animation: glowFlicker 3.6s linear infinite;
          animation: glowFlicker 3.6s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.outer-glow .outer-outer-glow {
  width: 622px;
  height: 622px;
  background: #6E4247;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  margin-left: -311px;
  top: -200px;
  -webkit-animation: glowFlicker 3s linear infinite;
          animation: glowFlicker 3s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.outer-glow .inner-outer-glow {
  width: 70px;
  height: 70px;
  background: #8e555c;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  left: 50%;
  margin-left: -35px;
  top: 60px;
}

.plate {
  width: 160px;
  height: 40px;
  background: #444;
  border-radius: 100%;
  position: absolute;
  bottom: 5px;
  z-index: 2;
}
.plate .plate-inner {
  width: 140px;
  height: 25px;
  background: #4e4e4e;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 8px;
  z-index: 2;
}

.plate-bottom {
  width: 130px;
  height: 40px;
  background: #414141;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  z-index: 1;
  left: 50%;
  margin-left: -65px;
}

@-webkit-keyframes flameFlicker {
  0%, 100% {
    width: 16px;
    height: 17px;
  }
  25% {
    width: 19px;
    height: 17px;
  }
  50% {
    width: 17px;
    height: 16px;
  }
  75% {
    width: 17px;
    height: 19px;
  }
}

@keyframes flameFlicker {
  0%, 100% {
    width: 16px;
    height: 17px;
  }
  25% {
    width: 19px;
    height: 17px;
  }
  50% {
    width: 17px;
    height: 16px;
  }
  75% {
    width: 17px;
    height: 19px;
  }
}
@-webkit-keyframes glowFlicker {
  0%, 100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.22;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@keyframes glowFlicker {
  0%, 100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.22;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@-webkit-keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 124px;
    -webkit-transform: rotateY(-43deg);
            transform: rotateY(-43deg);
  }
}
@keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 124px;
    -webkit-transform: rotateY(-43deg);
            transform: rotateY(-43deg);
  }
}
::-moz-selection {
  background-color: #c7928c;
  color: #fff;
}
::selection {
  background-color: #c7928c;
  color: #fff;
}
