// .card-pain {
// 	border: 1px solid black;
// 	padding: 20px 50px 100px;
// }

.pain-description {
	text-align: justify;
	margin: 40px;
}

.pain-category {

}

a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
	position:relative;
	height:450px;
	width:800px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(0,0,0,0.7);
	box-shadow:0px -1px 3px rgba(0,0,0,0.1),
				0px 2px 6px rgba(0,0,0,0.5);
	border-radius:6px;
	margin:10% auto;
	overflow:hidden;
	z-index:100;
	margin-bottom: 0px;
}
div.portfoliocard div.coverphoto{
	width:100%;
	height:120px;
	background:image-url('http://farm8.staticflickr.com/7149/6484148411_baf8d2e934_z.jpg');
	background-position:center center;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
				1px 0px 2px rgba(255,255,255,0.7);
	z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
	float:left;
	height:340px;
}
div.portfoliocard div.left_col{
	width:20%;
	padding-top:85px;
	box-sizing:border-box;
}
div.portfoliocard div.right_col{
	width:80%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	margin-left:-1px;
	border-bottom-right-radius:5px;
}
.profile_picture{
	width:110px;
	height:110px;
	background:rgba(255,255,255,1);
	position:absolute;
	top:65px;
	left:40px;
	border-radius:100%;
	background-size:100% 100%;
	padding:7px;
	border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
	font-size:30px;
	font-weight:300;
	color: rgba(30,30,30,1);
	padding:0;
	margin:20px 10px 0px 30px;
}
div.portfoliocard div.right_col h3.location{
	font-size:15px;
	font-weight:300;
	color:rgba(170,170,170,1);
	padding:0;
	margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
	margin-top:20px;
	padding-left:30px;
	list-style-type:none;
}
div.portfoliocard ul.contact_information li{
	height:25px;
	width:180px;
	line-height:25px;
	font-weight:300;
	font-size:15px;
	color:rgba(140,140,140,1);
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
	padding:5px 0px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 1px rgba(255,255,255,0.6);
	cursor:default;
}
div.portfoliocard ul.contact_information li:before{
	content:"";
	width:25px;
	height:25px;
	display:block;
	float:left;
	background-position:center;
	background-size:18px 18px;
	background-repeat:no-repeat;
	margin-right:5px;
	opacity:0.7;
}

div.portfoliocard div.user-info{
	margin:15px 0px 0px 35px;
	font-weight:300;
	font-size:16px;
	color:rgba(30,30,30,1);
	position:relative;
	bottom: 30px;
}
div.portfoliocard div.username{
	font-weight:400;
	font-size:25px;
	color:rgba(140,140,140,1);
}


.fa-fire {
	margin-right: 9px;
	font-size: 2em;
}

.fire {
	margin-top:30px;
	margin-left: 15px;

}

// design way to pray !

.form-summary {
	display:flex;
	justify-content:center;
	margin-left: 150px;
}

.pray-link-write {
	width: 200px;
	margin-bottom:10px,
}

.pray-link-record {
	width: 200px;
	margin-bottom:10px,
}

.pray-link-thought {
	width: 200px;
	margin-bottom:10px,
}

p {
	margin: 0px !important;
}

.form-group.string.required.prayer_title {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.form-for-audio-pray {
	width:550px;
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

.container-audio {
	display: flex;
	justify-content: center;

}

.audio-prayer {
	margin-top: 50px;
}

#startRecordingButton {
	background-color: white;
	padding: 2px 10px 2px 10px;
	width: 60px;
}

#stopRecordingButton {
	background-color: white;
	padding: 2px 10px 2px 10px;
	width: 60px;
}

#playButton {
	background-color: white;
	padding: 2px 10px 2px 10px;
	width: 60px;
}

.control-audio {
	width:300px;
	max-height: 50px;
	position: relative;
	top: 7px;
   margin-left: 10px;
}

.audio-notification {
	max-width: 220px;
	text-align:center;
}

#candle {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  //background: #402D35;
  background: #B4D8C0;
}

#candle h1 {
  color: #B56969;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  display: inline-block;
  position: absolute;
  margin-top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
}

.candle-container {
  width: 160px;
  height: 163px;
  margin-top: -100px;
  position: relative;
}

.candle {
  width: 80px;
  height: 140px;
  background: #A65A51;
  border-radius: 8px;
  position: relative;
  margin: auto;
  z-index: 3;
}
.candle .top {
  width: 80px;
  height: 18px;
  background: #b97871;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.candle .top .top_inner {
  width: 80px;
  height: 16px;
  background: #c28882;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}
.candle .bottom {
  width: 80px;
  height: 18px;
  background: #A65A51;
  border-radius: 100%;
  position: absolute;
  bottom: -4px;
}
.candle .wax-drip {
  width: 9px;
  height: 12px;
  background: #c7928c;
  position: absolute;
  top: 10px;
  left: 8px;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
}
.candle .wax-drip .falling-wax {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #c7928c;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  top: 8px;
  left: 1px;
  -webkit-transform: rotateZ(-45deg) translateY(0);
          transform: rotateZ(-45deg) translateY(0);
  -webkit-animation: waxDrop 11s linear infinite;
          animation: waxDrop 11s linear infinite;
}
.candle .wax-droppings {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #c7928c;
  bottom: -5px;
  border-radius: 80% 20% 55% 50%/55% 20% 80% 50%;
  left: 4px;
}
.candle .wax-droppings .more-droppings {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #c7928c;
  bottom: -2px;
  border-radius: 80% 30% 55% 50%/55% 30% 80% 50%;
  left: 6px;
}

.wick {
  width: 4px;
  height: 15px;
  background: #111;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: -8px;
  margin-left: -2px;
}

.flame {
  width: 18px;
  height: 18px;
  background: #FFD678;
  position: absolute;
  z-index: 6;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  left: 50%;
  top: -20px;
  margin-left: -9px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-animation: flameFlicker 0.9s ease infinite;
          animation: flameFlicker 0.9s ease infinite;
}
.flame .inner-flame {
  width: 10px;
  height: 10px;
  background: #D1835C;
  position: absolute;
  z-index: 8;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  left: 50%;
  margin-left: -7px;
  bottom: 2px;
  opacity: 0.4;
}

.outer-glow {
  width: 200px;
  height: 200px;
  background: #6E4247;
  position: absolute;
  border-radius: 100%;
  left: -20px;
  top: -120px;
  opacity: 0.2;
  -webkit-animation: glowFlicker 3.6s linear infinite;
          animation: glowFlicker 3.6s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.outer-glow .outer-outer-glow {
  width: 622px;
  height: 622px;
  background: #6E4247;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  margin-left: -311px;
  top: -200px;
  -webkit-animation: glowFlicker 3s linear infinite;
          animation: glowFlicker 3s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.outer-glow .inner-outer-glow {
  width: 70px;
  height: 70px;
  background: #8e555c;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  left: 50%;
  margin-left: -35px;
  top: 60px;
}

.plate {
  width: 160px;
  height: 40px;
  background: #444;
  border-radius: 100%;
  position: absolute;
  bottom: 5px;
  z-index: 2;
}
.plate .plate-inner {
  width: 140px;
  height: 25px;
  background: #4e4e4e;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 8px;
  z-index: 2;
}

.plate-bottom {
  width: 130px;
  height: 40px;
  background: #414141;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  z-index: 1;
  left: 50%;
  margin-left: -65px;
}

@-webkit-keyframes flameFlicker {
  0%, 100% {
    width: 16px;
    height: 17px;
  }
  25% {
    width: 19px;
    height: 17px;
  }
  50% {
    width: 17px;
    height: 16px;
  }
  75% {
    width: 17px;
    height: 19px;
  }
}

@keyframes flameFlicker {
  0%, 100% {
    width: 16px;
    height: 17px;
  }
  25% {
    width: 19px;
    height: 17px;
  }
  50% {
    width: 17px;
    height: 16px;
  }
  75% {
    width: 17px;
    height: 19px;
  }
}
@-webkit-keyframes glowFlicker {
  0%, 100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.22;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@keyframes glowFlicker {
  0%, 100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.22;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@-webkit-keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 124px;
    -webkit-transform: rotateY(-43deg);
            transform: rotateY(-43deg);
  }
}
@keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  100% {
    top: 124px;
    -webkit-transform: rotateY(-43deg);
            transform: rotateY(-43deg);
  }
}
::-moz-selection {
  background-color: #c7928c;
  color: #fff;
}
::selection {
  background-color: #c7928c;
  color: #fff;
}

