// Profile
.profile-name {
  color: black;
  margin-left: 50px;
}

.tab-content {
  width: 78.5%;
  margin: auto;
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.tab-container {
  display:flex;
  justify-content:center;
}

.title {
  border-bottom: 1.5px solid black;
}
.tab-content .row {
  padding-top: 15px;
  margin: 0;
}
.tab-content .titles {
  border-bottom: 1.5px dotted black;
}

.prayer-profile-wrapper {
  width: 100%;
  display:flex;
  justify-content: center;
}


.parameter {
  margin-top: 15px;
  margin-bottom: 40px;
}

.my-profile {
  width: 80%;
  margin: auto;
}

.info-count {
  color: #C1C7C9;
  margin-right: 30px !important;
}

.count {
  margin-left: 500px;
  display:flex;
  position:relative;
  top:8px;
}

//HEADER//

.profile-wrapper {
  width: 80%;
  margin: auto;
}
.profile-container {
  margin-top: 155px;

  color: rgb(250, 250, 250);
}

.first-user-info {
  text-align:left;
  display:flex;
  align-items: center;
  margin-bottom: 80px;
}

.profile-container .avatar-img-user {
  background-color: transparent;
  border-radius: 50%;
  margin-left: 0;
  margin-top: 10px;
}

.avatar-user-show {
  border-radius: 50%;
  width:100px;
  height: 100px;
}

//TABS

 .wrapper-tabs {
  width:100%;
 }


.tabs {
  background: transparent;
  display: flex;
  padding: 10px 10px 0 10px;
  max-width: 500px;
  position: relative;
  top: -40px;
}
.tabs a {
  color: #C1C7C9;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 33.3%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  color: black;
}

//PROFILE EDIT

.user-edit-container {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

//prayer profil

.prayer-profile {
  border: 1px solid #E3E3E3;
  min-width: 600px;
  max-width: 600px;
  padding:10px;
  margin-bottom:10px;

}

.info-prayer {
  width:700px;
  text-align:center;
}

.prayer-content {

  text-align:center;
  background-color:#F5F5F5;
  margin-top: 20px;
  min-height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.prayer-header {
  display:flex;
  justify-content:space-around;
}


//pain profil

.pain-header {
  display:flex;
  justify-content:space-around;
}

.pain-content {
  max-width:700px;
  text-align:center;
  background-color:#F5F5F5;
  margin-top: 20px;
  min-height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.title-category1 {
  max-width:80px;
  color:red;
}

.middle-title {
  max-width:150px;
}


@media (min-width: 500px) {
  .btn-userinfo {
  display:flex;
  margin-left:200px;
  }
}

@media (min-width: 700px) {
  .btn-userinfo {
  display:flex;
  margin-left:400px;
  }
}


@media (min-width: 950px) {
  .btn-userinfo {
  display:flex;
  margin-left:600px;
  }
}


@media (min-width: 1250px) {
  .btn-userinfo {
  display:flex;
  margin-left:750px;
  }
}

h5{
  margin-bottom: 50px;
}