// Profile
.profile-name {
  color: black;
  margin-left: 50px;
}

.tab-content {
  width: 80%;
  margin: auto;
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 1px 1px 1px 1px rgb(230, 230, 230);
  padding:20px;
}

.tab-title {
  color:#B3B3B3;
  font-family: "Raleway";
  font-weight: lighter;
}

.tab-container {
  display:flex;
  justify-content:center;
}

.title {
  border-bottom: 1.5px solid black;
}
.tab-content .row {
  padding-top: 15px;
  margin: 0;
}
.tab-content .titles {
  border-bottom: 1.5px dotted black;
}

.prayer-profile-wrapper {
  width: 100%;
  display:flex;
  justify-content: center;
  position: relative;
}


.parameter {
  margin-top: 15px;
  margin-bottom: 40px;
}

.my-profile {
  width: 80%;
  margin: auto;
}

.info-count {
  color: rgb(150, 150, 150);
  margin-right: 30px !important;
  font-family: "Raleway";
  width:100px;
}

.count {
  margin-left: 500px;
  display:flex;
  position:relative;
  top:20px;
}

.count-mobile {
  position:relative;
  top:70px;
  right:88px;
}


@media screen and (min-width: 900px) and (max-width: 1150px) {
    .count {
      margin-left: 300px;
    }
}

@media screen and (min-width: 700px) and (max-width: 899px) {
    .count {
      margin-left: 180px;
    }
}

@media screen and (min-width: 400px) and (max-width: 699px) {
    .count {
      margin-left: 100px;

    }
}

@media screen and (min-width: 200px) and (max-width: 499px) {
    .count {
      margin-left: 50px;
    }
}

//HEADER//

.profile-wrapper {
  width: 80%;
  margin: auto;
}
.profile-container {
  margin-top: 155px;


  color: rgb(250, 250, 250);
}

.first-user-info {
  text-align:left;
  display:flex;
  align-items: center;
  margin-bottom: 80px;
}

.profile-container .avatar-img-user {
  background-color: transparent;
  border-radius: 50%;
  margin-left: 0;
  margin-top: 10px;
}

.avatar-user-show {
  border-radius: 50%;
  min-width:100px;
  height: 100px;
}

//TABS

 .wrapper-tabs {
  width:100%;
 }


.tabs {
  background: transparent;
  display: flex;
  padding: 10px 10px 0 10px;
  max-width: 500px;
  position: relative;
  top: -40px;
}
.tabs a {
  color: #C1C7C9;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 33.3%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab-title.active {
  color:#878686;
}

//PROFILE EDIT

.user-edit-container {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

//prayer profil

.prayer-profile {
  padding:10px;
  margin-bottom:10px;
  border-radius: 5px;
  z-index: 20;

}
.pain-profile {
  padding:10px;
  margin-bottom:10px;
  border-radius: 5px;
  z-index: 20;
  width: 100%;
}

p {
  z-index: 40 !important;
}

.quote {
  position: absolute;
  left: 0;
  top: 35px;
}

.test {
color:#B4D8C0;
font-size: 5em;
z-index: 22;
// position:relative;
// left:250px;
// top:20px;
opacity: 0.2;
}

.info-prayer {
  width:700px;
  text-align:center;
}

.prayer-content {

  text-align:center;
  // background-color: #FAFAFA;
  margin-top: 20px;
  min-height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
  align-items: flex-end;

}

.prayer-content p {
  font-family: "Raleway";
  max-width: 895px;
  margin-bottom: 35px;
}

.prayer-header {
  display:flex;
  justify-content:space-between;
  align-items: center;
}


//pain profil

.pain-header {
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.pain-content {
  max-width:700px;
  text-align:center;
  background-color:#FAFAFA;
  margin-top: 20px;
  min-height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.title-category1 {
  max-width:80px;
  color:red;
}

.middle-title {
  max-width:300px;
  font-family: "Lato";
  color: #B56969;
  font-size: 1.2em;

}

.catpain {
  z-index:100;
}

.middle-title:hover {
  color: #B56969;
  font-weight:bold;
}

.btn-userinfo {
  margin-top:10px;
}

.btn-userinfo .btn-medium {
  margin:5px;
}

@media (min-width: 700px) {
  .btn-userinfo {
  display:flex;
  margin-left:250px;
  }
}

@media (min-width: 950px) {
  .btn-userinfo {
  display:flex;
  margin-left:500px;
  }
}

@media (min-width: 1250px) {
  .btn-userinfo {
  display:flex;
  margin-left:700px;

  }
}

.datetime {
  font-size: 0.8em;
  color: #C2C2C2;
}

.hrprofile {

    border-top: 1px solid #CFCCCC;
}
.prayer-user-description {
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 700px;
}
.catpain {
  color: rgb(100, 100, 100);
}

.prayer-pain-text-user {
  text-align: justify;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 500px;
}

.button-voir {
  padding: 5px;
  width: 95px;
  color: #B56969;
  text-decoration: none;
}

.button-voir a {
  text-decoration: none;
  outline: none;
  color: $blessme-red;
}

.prayer-text a {
  color: #B56969;
  transition: 0.5s ease;
}
.prayer-text a:hover {
  font-weight: bolder;
  color: #A7B3A5;
}

#user-dropdown {
  height: 30%;
  right: 4%;
  cursor: pointer;
}

.user-dropdown-menu-right {
  left: auto;
  right: -11px;
}

.dropdown-style {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

#user-dropdown span {
  margin-left: 10%;
}

#user-dropdown li:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.fa-map-marker {
  color: #B56969;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
