<div class="modal fade in" id="myReminder" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Complétez votre profile !</h4>
      </div>
      <div class="modal-body">
        <p>Notamment votre ville de résidence, cela vous rajoutera directement sur la carte de la communauté Bless Me ;)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-medium" data-dismiss="modal">Fermer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
