<div class="footer">
	<div class="footer-content">
		<ol class=" info-footer list-unstyled">
			<h5> Informations</h5>
			<hr class="hr-footer">
			<li><p class="link-footer">Qui sommes nous ?</p></li>
			<li><p class="link-footer">Contact</p></li>
		</ol>
		<ol class="media-footer list-unstyled">
			<h5> Réseaux sociaux</h5>
			<hr class="hr-footer">	
				<div class="social-media">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
		</ol>
		<ol class=" nav-footer list-unstyled">
			<h5> Navigation</h5>
			<hr class="hr-footer">
			<li><p class="link-footer">Plan du site</p></li>
			<li><p class="link-footer">Mention légale</p></li>
		</ol>
	</div>	
</div>