<div class="dropdown" id="notification-dropdown">
  <span id="notification"><%= @notification.count if (@notification && @notification.count > 0) %></span>
  <i class="fa fa-bell" aria-hidden="true" data-toggle="dropdown"></i>
  <ul class="dropdown-menu dropdown-menu-right navbar-blessme-dropdown-menu">
    <% if @notification && @notification.count > 0 %>
        <% @notification.each do |notification| %>
          <% if notification.trackable %>
            <%= link_to user_path(current_user) do %>
              <li>
                <p class="no-prayers"><%= notification.owner.username %>
                    <%= notification.trackable.title %>
                </p>
              </li><hr>
            <% end %>
          <% end %>
      <% end %>
    <% else %>
      <p class="no-prayers">Pas de nouvelles prières</p>
    <% end %>
  </ul>
</div>

