<div class="banner-team">
	<div class="banner-team-content">
		<h1 class="banner-title">L'équipe</h1>
	</div>
</div>

<div class="story">
	<div class="story-content">
		<h2 class="story-title">Notre (jeune) histoire</h2>
		<hr class="story-hr">
			<div class="story-text ">
				<p>Convaincu que numérique et foi sont compatibles nous nous sommes lancé dans l’aventure BlessMe. En gardant la philosophie que même au-delà de la religion, nous voulions construire une application qui permettrait à chacun (croyant ou non) de pouvoir recevoir de la force durant les épreuves que la vie nous réserve. <br/><br/>
					<div class="citation">
					<strong class="citation-team">« Je traverse une épreuve, j’ai besoin de vos bénédictions et de vos prières »</strong> <br/><br/>
					</div>
					C’est en partant de ce constat que Clément pitch son idée sur les bancs du Wagon. C’est sur ces mêmes bancs qu’il rencontre Cyrielle et Jérôme, tout les deux motivés et enthousiastes par le projet et les répercussions positives que cela pourrait avoir. Pendant plusieurs semaines ils ont codé le projet, pour que votre foi et vos prières puisse dépasser les frontières physiques.
				<br/><br/>
				Votre foi est magnifique, elle vous permet de vous surpasser, de garder espoir là où pour certain tout est fini, c’est cette force que vous avez en vous que nous voulons propager aux quatre coins du monde. Partageons-la.</p>
			</div>
	</div>
</div>

<div class="story">
	<div class="story-content">
		<h2 class="story-title">L'équipe BlessMe</h2>
		<hr class="story-hr">
			<div class="image-team">
				<div class="image1">
					<p class="name-image">Clément Morisset</p>
				</div>
				<div class="image2">
					<p class="name-image">Cyrielle Fauré</p>
				</div>
				<div class="image3">
					<p class="name-image">Jérôme Drevet</p>
				</div>
			</div>
	</div>
</div>
