<div class="banner-team">
	<div class="banner-team-content">
		<h1 class="banner-title">L'équipe</h1> 
	</div>
</div>

<div class="story">
	<div class="story-content">
		<h2 class="story-title">Notre (jeune) histoire</h2>
		<hr class="story-hr">
			<div class="story-text ">
				<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.</p>
			</div>
	</div>
</div>

<div class="story">
	<div class="story-content">
		<h2 class="story-title">L'équipe BlessMe</h2>
		<hr class="story-hr">
			<div class="image-team">
				<div class="image1">
					<p class="name-image">Clément Morisset #Evangelist</p>
				</div>
				<div class="image2">
					<p class="name-image">Cyrielle Fauré <br> #Evangelist</p>
				</div>
				<div class="image3">
					<p class="name-image">Jérôme Drevet <br> #Dev.Evangelist</p>
				</div>
			</div>
	</div>
</div>