/* Main class */
.navbar-blessme {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* For opaque navbar */
.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    transition: background-color .9s ease 0s;
    z-index:999;
}

.opaque-navbar.opaque {
    background-color: white;
    height: 60px;
    transition: background-color .9s ease 0s;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    color: black;
}

@media (max-width: 992px) {

  .opaque-navbar {
    background-color: rgba(0,0,0,0);
    height: 60px;
    transition: background-color .5s ease 0s;
  }

  .navbar-inverse .navbar-toggle {
    border-color: none !important;
  }
}

/* Optional class to fix the navbar on top */
.navbar-blessme-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-blessme-brand img {
  height: 20px;
}

.navbar-blessme-brand img:hover {
  opacity: 0.7;
}

/* Navbar right section (with form, links, button) */
.navbar-blessme-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-blessme-item {
  display: flex;
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

.navbar-blessme-link-mobile {
color:#999999 !important;
}

#map-link {
  color: white;
  text-decoration: none;
}

a#map-link {
  text-decoration: none;
}

#map-link:hover {
  text-decoration: none;
  color: $blessme-red;
}

.opaque-navbar.opaque #map-link {
  color: black;
  text-decoration: none;
}

.opaque-navbar.opaque #map-link:hover {
  text-decoration: none;
  color: #D23333;
}
.regular-navbar #map-link {
  color: black;
  text-decoration: none;
  font-weight: normal;
}
.regular-navbar #map-link:hover {
  text-decoration: none;
  color: #D23333;
}

/* Navbar standard link */
.navbar-blessme-link {
  color: white;
  font-size: 14px;
}

.navbar-blessme-link:hover {
  color: #D23333;
  text-decoration: none;
}


/* Navbar right button */
.navbar-blessme-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-blessme-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}


/* Navbar dropdown menu */
.navbar-blessme-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-blessme-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-blessme-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-blessme-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* COMPANY NAME */
.company-name {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  margin-left: -60%;
}
a.company-name {
  text-decoration: none;
}
.company-name:hover {
  text-decoration: none;
  color: #da552f;
}

.opaque-navbar.opaque .company-name {
  color: black;
}
.opaque-navbar.opaque .navbar-blessme-link {
  color: black;
}

.opaque-navbar.opaque .company-name:hover {
  text-decoration: none;
  color: #da552f;
}
.regular-navbar .company-name {
  color: black;
}
.regular-navbar .company-name:hover {
  text-decoration: none;
  color: #da552f;
}

#notification-dropdown {
  padding: 3px 6px;
  border-radius: 30px;
  font-size: 12px;
  background-color: $blessme-red;
  color: white;
  span {
    opacity: 0.7;
  }
}
#navbar-blessme-menu {
  margin-left: 20px;
  cursor: pointer;
}

.regular-navbar .navbar-blessme-link {
  color: black;
  font-weight: normal;
  &:hover {
    color: $blessme-red;
  }
}

.no-prayers {
  color: black !important;
  text-align: center;
  font-size: 14px;
}

.modal-backdrop {
  z-index: 200 !important;
}
