<div class="hidden" id="candle">
  <div class="candle-container">
    <div class="flame">
      <div class="inner-flame"></div>
    </div>
    <div class="outer-glow">
      <div class="outer-outer-glow"></div>
      <div class="inner-outer-glow"></div>
    </div>
    <div class="wick"></div>
    <div class="candle">
      <div class="top">
        <div class="top_inner"></div>
      </div>
      <div class="bottom"></div>
      <div class="wax-drip">
        <div class="falling-wax"></div>
      </div>
      <div class="wax-droppings">
        <div class="more-droppings"></div>
      </div>
    </div>
    <div class="plate">
      <div class="plate-inner"></div>
    </div>
    <div class="plate-bottom"></div>
  </div>
  <h1>Prenez un instant</h1>
  <h2>Vous serez redirigé bientôt</h2>
</div>
