<ul class="list-unstyled text-center prayer-list">
  <% pain.prayers.each do |prayer| %>
    <li style="color:red"><strong><%= prayer.title %></strong></li>
    <li>Your prayer :<%= prayer.description %></li>

    <% if policy(prayer).edit? %>
      <%= link_to "Modifier votre prière", edit_pain_prayer_path(pain, prayer) %>
    <% end %>
    <br>
    <% if policy(prayer).destroy? %>
      <%= link_to "Supprimer une prière", pain_prayer_path(pain, prayer), method: :delete, data: { confirm: 'Effacer', swal: {
        title: 'Effacer',
        text: "Voulez-vous supprimer cette prière ?",
        type: 'question',
        show_cancel_button: true,
        confirm_button_color: '#B56969',
        cancel_button_color: '#B4D8C0',
        confirm_button_text: 'Oui',
        cancel_button_text: 'Non'
      } }, class:"delete-link" %>
    <% end %>
    <hr>
  <% end %>
</ul>
