<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  <ul class="list-unstyled">
    <% @pains.each do |pain| %>
      <li>Title :<%= pain.title %></li>
      <li>Category :<%= pain.category %></li>
      <li>Description :<%= pain.description %></li>
      <br>
      <%=link_to "Pray", new_pain_prayer_path(pain) %>
      <br>
      <hr>
    <% end %>
    </ul>
  </div>
</div>
</div>