<div class="pain-wrapper-index">
  <div class="pain-container-index">
    div.col
  TEST
    <% @pains.each do |pain| %>
      <%= pain.title %>
      <%= pain.category %>
      <%= pain.description %>
    <% end %>
  </div>
</div>
